*,
*::before,
*::after,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

main {
  position: relative;
  display: flex;
  justify-content: space-between;
}

a {
  color: #000;
  text-decoration: none;
}

:root {
  --bg_red: #c52e2e;
  --bg_white: #fff;
  --bg_blue: #0047AB;
  --bg_blue_hover: #245caa;
  --bg_dark: #3f3d3d;
  --bg_error: #812222;
  --bg_success: #1b9c1bea;
  --bg_warnig: #b3b315;
  --bg_shadow: rgba(0, 0, 0, .6);
  --padding: 8px;
}

/* Google icons*/
span.size-20 {
  font-size: 20px;
  font-variation-settings: 'OPSZ' 20;
}
span.size-24 {
  font-size: 24px;
  font-variation-settings: 'OPSZ' 24;
}
span.size-40 {
  font-size: 40px;
  font-variation-settings: 'OPSZ' 40;
  padding: 2px;
}
span.size-48 {
  font-size: 48px;
  font-variation-settings: 'OPSZ' 48;
  padding: 2px;
}

.dark {
  background: var(--bg_dark);
  color: rgba(255, 255, 255, 1);
  font-variation-settings: 'GRAD' -25;
}
.dark-inactive {
  background: #686666;
  color: #fff;
  font-variation-settings: 'GRAD' -25;
}

.circle {
  border-radius: 50%;
}

.border-white {
  border: 2px solid var(--bg_white);
}
/***** end Google Icons *****/



/* Utils */
.bg-red {
  background-color: var(--bg_red);
}

.bg-blue {
  background-color: var(--bg_blue);
}

.bg-blue-light {
  background-color: var(--bg_blue_hover);
}

.bg-white {
  background-color: var(--bg_white);
}

.bg-green {
  background-color: var(--bg_success);
}

.color-white {
  color: var(--bg_white);
}

.total_view_port {
  width: 100%;
  height: 100vh;
}

.total_view_port_centered {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.total_view_port_column_start,
.total_view_port_col_start_without_pd {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.left-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.row-space-between {
  display: flex;
  justify-content: space-between;
}

.rg-10 {
  row-gap: 10px;
}

.cg-10 {
  column-gap: 10px;
}

.rounded-4 {
  border-radius: 4px;
}

.rounded-6 {
  border-radius: 6px;
}

.rounded-8 {
  border-radius: 8px;
}

.mtb-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.mlr-4 {
  margin-left: 4px;
  margin-right: 4px;
}

.mtb-6 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.mlr-6 {
  margin-left: 6px;
  margin-right: 6px;
}

.mtb-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mlr-8 {
  margin-left: 8px;
  margin-right: 8px;
}

.mt-8 {
  margin-top: 8px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.pd-4 {
  padding: 4px;
}

.pd-6 {
  padding: 6px;
}

.pd-8 {
  padding: 8px;
} 

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.title::first-letter {
  text-transform: uppercase;
}

.fit-content {
  max-width: fit-content;
}

.fw-500 {
  font-weight: 500;
}

.fs-20 {
  font-size: 20px;
}

.width-100 {
  width: 100%;
}
/**** end Utils ****/


/* Django Messages */
.messages {
  max-width: 200px;
  padding: 8px;
  padding-bottom: 0;
  color: #fff;
  min-height: 60px;
  position: fixed;
  top: 10px;
  right: -100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  z-index: 1000;
}

.messages_show {
  animation: show-message 300ms ease-in forwards;
}

.messages_close {
  animation: close-message 300ms ease-in forwards;
}

/* classe do Django */
.errorlist {
  list-style: none;
  color: var(--bg_red);
}

.errorlist li {
  font-size: 12px;
  white-space: pre;
}

.error {
  background-color: var(--bg_error);
  border: 1px solid var(--bg_error);
}

.success {
  background-color: var(--bg_success);
  border: 1px solid var(--bg_success);
}

.warning {
  background-color: var(--bg_warnig);
  border: 1px solid var(--bg_error);
}

.progress-bar-message {
  align-self: flex-start;
  display: block;
  width: 10px;
  height: 5px;
  background-color: #fff;
  margin-left: -8px;
  margin-top: 8px;
}

@keyframes show-message {
  0% { right: -100px; }
  50% { right: 25px; }
  100% { right: 10px; }
}

@keyframes close-message {
  0% { right: 10px; }
  50% { right: 25px; }
  100% { right: -200px; }
}

@keyframes progress {
  from { width: 10px; }
  to { width: calc(100% + 16px); }
}
/**** end Django Messages ****/ 


/* Buttons */
.access-button,
.new-data-button {
  color: var(--bg_white);
  border: none;
  cursor: pointer;
  user-select: none;
  transition: background-color 300ms ease;
  outline: none;
}

.access-button {
  background-color: var(--bg_blue);
}

.access-button:hover {
  background-color: var(--bg_blue_hover);
}

.new-data-button {
 background-color: var(--bg_success);
}

button[type='submit']:disabled {
  background-color: var(--bg_dark);
  color: var(--bg_white);
  cursor: not-allowed;
}

.delete-button-float {
  position: fixed;
  right: 8px;
  bottom: 8px;
  cursor: pointer;
  z-index: 1;
}
/****  end Buttons ****/



.login_form {
  width: 90vw;
  max-width: 550px;
  background-color: var(--bg_white);
  box-shadow: 2px 2px 5px var(--bg_shadow);
  padding: var(--padding);
}

.login_form__input {
  display: flex;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 4px;
}

.login_form__input:focus {
  outline: none;
  border: none
}

.login_form__div_container {
  border: 1px solid #686666;
  user-select: none;
}

.reset-password {
  display: block;
  width: 100%;
  font-size: 12px;
  text-align: right;
  font-weight: 600;
  color: var(--bg_blue_hover);
}

.reset-password::first-letter {
  text-transform: uppercase;
}

#menu-mobile {
  position: fixed;
  top: 8px;
  left: 14px;
  background-color: var(--bg_dark);
  color: var(--bg_white);
  padding: 4px;
  border-radius: 4px;
  border: 1px solid var(--bg_white);
  z-index: 10000;
}

.C_menu {
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 0px;
  width: fit-content;
  max-width: 0px;
  height: 100vh;
  overflow: hidden;
  background-color: var(--bg_dark);
  transition: all 300ms ease;
  z-index: 1000;
}

.C_menu__ul {
  padding-top: 60px;
  list-style: none;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 15px;
}

.C_menu__li:first-child {
  margin-top: 8px;
}

.C_menu__li span {
  display: block;
  transition: all 300ms ease;
}
.C_menu__link {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}

.C_menu__link p {
  text-transform: capitalize;
  font-size: 12px;
}

.open-menu {
  max-width: 500px;
  padding-left: 8px;
  padding-right: 8px;
}

.default_table_container {
  width: 100%;
  max-width: 960px;
}

.default_table {
  width: 100%;
  border-collapse: collapse;
}

.default_table tr:first-child {
  background: var(--bg_blue_hover);
  color: var(--bg_white);
  text-transform: capitalize;
}

.default_table th,
.default_table td {
  text-align: center;
  padding: 8px;
}

.new-register-form {
  width: 80vw;
  max-width: 400px;
}

.new-register-form > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin: 10px 0;
}

.new-register-form > div > label {
  font-weight: 500;
}

.new-register-form > div > label::first-letter {
  text-transform: uppercase;
}

.new-register-form > div > input[type='text'],
.new-register-form > div > input[type='password'],
.new-register-form > div > input[type='email'],
.new-register-form > div > select
{
  width: 100%;
  padding: 8px;
  border: 1px solid var(--bg_dark);
  outline: none;
}

.new-register-form > div > input[type='checkbox'] {
  outline: none;
}

.helptext {
  font-size: 12px;
  white-space: pre;
}

.my-account-table {
  border-spacing: 10px;
  width: 100%;
  max-width: 468px;
}

.my-account-table tr {
  background-color: #ece8e8;
  border-radius: 4px;
}

.my-account-table td {
  border-radius: 6px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
  gap: 10px;
}

.my-account-table td::before {
  display: block;
  content: attr(data-label);
  text-transform: capitalize;
  font-weight: 500;
}

@media screen and (min-width: 420px) {
  .my-account-table td {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .C_menu {
    max-width: 60px;
    padding: 8px;
  }

  .C_menu__ul {
    padding-top: 0;
  }

  .C_menu:hover {
    max-width: 500px;
  }

  .C_menu__li p {
    font-size: 16px;
  }
  
  .C_menu__li span {
    display: block;
    transition: all 300ms ease;
  }
  
  .C_menu__li:hover span {
    border-color: var(--bg_red);
    color: var(--bg_red);
  }
  
  #menu-mobile {
    display: none;
  }

  .delete-button-float {
    top: 25px;
    right: 25px;
    bottom: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .total_view_port_centered ,
  .total_view_port_column_start {
    padding-left: 60px;
  }
}

@media screen and (max-width: 1200px) {
  .default_table {
    margin: 0 auto;
  }

  .default_table th {
    display: none;
  }

  .default_table tr {
    display: flex;
    flex-direction: column;
  }

  .default_table td {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .default_table td::before {
    content: attr(data-label);
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
  }

  .default_table td,
  .default_table td > a {
    font-size: 14px;
  }

  .default_table tr:not(:first-child) {
    border-bottom: 1px solid var(--bg_dark);
  }
}
