*,
*::before,
*::after,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

main {
  overflow: hidden;
  position: relative;
}

a {
  color: #000;
  text-decoration: none;
}

:root {
  --bg_red: #c52e2e;
  --bg_white: #fff;
  --bg_blue: #0047AB;
  --bg_blue_hover: #245caa;
  --bg_dark: #3f3d3d;
  --bg_error: #812222;
  --bg_success: #1b9c1bea;
  --bg_warnig: #b3b315;
  --bg_shadow: rgba(0, 0, 0, .6);
  --padding: 8px;
}

/* Google icons*/
span.size-20 {
  font-size: 20px;
  font-variation-settings: 'OPSZ' 20;
}
span.size-24 {
  font-size: 24px;
  font-variation-settings: 'OPSZ' 24;
}
span.size-40 {
  font-size: 40px;
  font-variation-settings: 'OPSZ' 40;
  padding: 2px;
}
span.size-48 {
  font-size: 48px;
  font-variation-settings: 'OPSZ' 48;
  padding: 2px;
}

.dark {
  background: var(--bg_dark);
  color: rgba(255, 255, 255, 1);
  font-variation-settings: 'GRAD' -25;
}
.dark-inactive {
  background: #686666;
  color: #fff;
  font-variation-settings: 'GRAD' -25;
}

.circle {
  border-radius: 50%;
}

.border-white {
  border: 2px solid var(--bg_white);
}
/***** end Google Icons *****/



/* Utils */
.bg-red {
  background-color: var(--bg_red);
}

.bg-blue {
  background-color: var(--bg_blue);
}

.bg-blue-light {
  background-color: var(--bg_blue_hover);
}

.bg-white {
  background-color: var(--bg_white);
}

.color-white {
  color: var(--bg_white);
}

.total_view_port {
  width: 100%;
  height: 100vh;
}

.total_view_port_centered {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rounded-4 {
  border-radius: 4px;
}

.rounded-6 {
  border-radius: 6px;
}

.rounded-8 {
  border-radius: 8px;
}

.mtb-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.mlr-4 {
  margin-left: 4px;
  margin-right: 4px;
}

.mtb-6 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.mlr-6 {
  margin-left: 6px;
  margin-right: 6px;
}

.mtb-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mlr-8 {
  margin-left: 8px;
  margin-right: 8px;
}

.pd-4 {
  padding: 4px;
}

.pd-6 {
  padding: 6px;
}

.pd-8 {
  padding: 8px;
} 
/**** end Utils ****/


/* Django Messages */
.messages {
  max-width: 200px;
  padding: 8px;
  padding-bottom: 0;
  color: #fff;
  min-height: 60px;
  position: absolute;
  top: 10px;
  right: -100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.messages_show {
  animation: show-message 300ms ease-in forwards;
}

.messages_close {
  animation: close-message 300ms ease-in forwards;
}

.error {
  background-color: var(--bg_error);
  border: 1px solid var(--bg_error);
}

.success {
  background-color: var(--bg_success);
  border: 1px solid var(--bg_success);
}

.warning {
  background-color: var(--bg_warnig);
  border: 1px solid var(--bg_error);
}

.progress-bar-message {
  align-self: flex-start;
  display: block;
  width: 10px;
  height: 5px;
  background-color: #fff;
  margin-left: -8px;
  margin-top: 8px;
}

@keyframes show-message {
  0% { right: -100px; }
  50% { right: 25px; }
  100% { right: 10px; }
}

@keyframes close-message {
  0% { right: 10px; }
  50% { right: 25px; }
  100% { right: -200px; }
}

@keyframes progress {
  from { width: 10px; }
  to { width: calc(100% + 16px); }
}
/**** end Django Messages ****/ 


/* Buttons */
.access-button {
  background-color: var(--bg_blue);
  color: var(--bg_white);
  border: none;
  cursor: pointer;
  user-select: none;
  transition: background-color 300ms ease;
}

.access-button:hover {
  background-color: var(--bg_blue_hover);
}
/****  end Buttons ****/



.login_form {
  width: 90vw;
  max-width: 550px;
  background-color: var(--bg_white);
  box-shadow: 2px 2px 5px var(--bg_shadow);
  padding: var(--padding);
}

.login_form__input {
  display: flex;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 4px;
}

.login_form__input:focus {
  outline: none;
  border: none
}

.login_form__div_container {
  border: 1px solid #686666;
  user-select: none;
}

.C_menu {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: fit-content;
  max-width: 60px;
  background-color: var(--bg_dark);
  transition: max-width 300ms ease;
}

.C_menu:hover {
  max-width: 200px;
}

.C_menu__ul {
  list-style: none;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 15px;
}

.C_menu__li span {
  transition: all 300ms ease;
}

.C_menu__li:hover span {
  border-color: var(--bg_red);
  color: var(--bg_red);
}

.C_menu__link {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}
