{% extends 'global/pages/base.html' %}

{% block content %}
  <section class="total_view_port_column_start pd-8 mt-8 rg-10">

    <section class="default_table_container">
      <!-- new user -->
      <div class="mb-16 right-flex">
        <a 
          href="{% url 'users:new' %}" 
          class="new-data-button center-flex pd-4 rounded-4 fit-content">
          <span class="material-symbols-outlined">add_circle</span>novo
        </a>
      </div>

      <!-- user list -->
      <table class="default_table">
        <tr>
          <th>usuário</th>
          <th>desde</th>
          <th>ativo</th>
          <th>admin</th>
          <th>desen.</th>
          <th>hospital</th>
          <th>instituição</th>
        </tr>
        {% for user in users %}
          <tr>
            <td data-label="usuário" ><a class="fw-500" href="{% url 'users:details' user.pk %}">{{ user.full_name|title }}</a></td>
            <td data-label="desde" >{{ user.created_at|date:"d/m/Y" }}</td>
            <td data-label="ativo">
              <input type="checkbox" name="is_active" id="is_active" disabled {% if user.is_active %}checked{% endif %}>
            </td>
            <td data-label="admin.">
              <input type="checkbox" name="is_admin" id="is_admin" {% if user.is_admin %}checked{% endif %} disabled>
            </td>
            <td data-label="desenv.">
              <input type="checkbox" name="is_staff" id="is_staff" user.is_staff {% if user.is_staff %}checked{% endif %} disabled>
            </td>
            <td data-label="hospital">
              <input 
                type="checkbox" 
                name="is_hospital_user"
                id="is_hospital_user"
                {% if user.is_hospital_user %}checked{% endif %}
                disabled>
            </td>
            {% if user.hospital %}
              <td data-label="instituição">{{ user.hospital|title }}</td>
            {% endif %}
          </tr>
        {% endfor %}
      </table>
    </section>

  </section>
{% endblock content %}
